/* 配置网站配色 */
:root {
	/* 主题颜色 */
	--vp-c-brand-1: var(--c-brand);
	/* 白色模式 主题基色 */
	--vp-c-brand-light: var(--c-brand);
	/* 黑色模式 主题基色 */
	--vp-c-brand-dark: var(--c-brand);

	/* 通过配置 自定义颜色 */
	--vp-home-hero-name-color: transparent;
	/* 主页标题文字的颜色  */
	--vp-home-hero-name-background: -webkit-linear-gradient(60deg, var(--c-brand), var(--v-home-hero-name-background));

	/* 主页左侧背景添加渐变光圈 */
	--vp-home-hero-image-background-image: linear-gradient(
		-45deg,
		var(--v-home-hero-image-background) 50%,
		var(--v-home-hero-image-background-gradient) 50%
	);
	--vp-home-hero-image-filter: blur(80px);

	/* botton，按钮文本颜色 */
	--vp-button-brand-text: var(--v-button-brand-text);
	/* 按钮背景颜色 */
	--vp-button-brand-bg: var(--v-button-brand-bg);

	/* 鼠标悬停的效果之后的样式 */
	--vp-button-brand-hover-border: var(--v-button-brand-hover-border);
	--vp-button-brand-hover-text: var(--v-button-brand-text);
	--vp-button-brand-hover-bg: var(--v-button-brand-hover-bg);
}

.VPHome {
	padding-bottom: 80px !important;
	.image-src {
		width: 256px;
		height: 256px;
	}
	.text {
		font-size: 52px;
	}
	.tagline {
		font-size: 22px;
		max-width: 698px;
		width: 698px;
	}
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-thumb {
	background-color: var(--s-scrollbar-thumb);
	border-radius: 20px;
	box-shadow: inset 0 0 0 white;
}

// 暗黑模式样式
.dark {
	::-webkit-scrollbar-thumb {
		background-color: var(--s-scrollbar-thumb-dark);
	}
}
